body{
    margin:0;
    font-family: 'Muli', sans-serif;
}
h1{
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 15px;
    margin: 0;
}
.main-board{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-board>div{
    padding: 10px;
    margin: 5px;
    border: black outset 5px;
    border-radius: 10px;
    width: 80%;
}

.stats-board{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

/* viewport styling */

.viewport-board{

    display: flex;
    flex-direction: row;
}
.view{
    width: 50%;
    min-height: 50vh;
    margin: 10px;
    border: black inset 3px;
    
}

.view>div{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.current{
    font-size: 18px;
    font-weight: 600;
}

.folder{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

/* .stats-board */
#score{
    padding:10px;
}
#time{
    padding-left:10px;
}

/* challenge section */
.challenge-container{
    background-color: #000;
    color: white;
    padding: 0 20px;
}
#challenges{
    display: flex;
    flex-direction: column;
}

.challenge{
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 700;
}

.strike-through{
    text-decoration: line-through red;
}

#current-destination{
    color:red;
    padding-left:10px;
}

/* terminal styling */

.terminal-board{
    background-color: black;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 18px;
}
#terminal-history{
    height: 10vh;
    overflow-y: scroll;
}

.terminal-entry{
    display: flex;
    flex-direction: row;
}

#terminal{
    width: 70%;
    background-color: black;
    border:none;
    color: rgb(16, 240, 248);
    padding: 0 0 0 5px;
}
#folder2,#folder{
    font-weight: bold;
    color: rgb(246, 20, 20);
}

.terminal-entry > input[type=text]{
    font-size: 18px;
     caret-color: #1DB954;
}
.entry{
    margin:3px;
}
.invalid{
    margin: 3px;
    color: red;
    font-weight: 700;
}

/* messages */

#pop-shell{
    position: absolute;

    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.473);
}
.popup-back{
    display: flex;
}

.message-box{
    width: 300px;
    height: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(94, 87, 87);
    text-align: center;
    justify-content: space-evenly;
    border-radius: 10px;
    color:#fff;
}

.mssg{
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 12px;
}


.control-box > button{
    padding: 5px 20px;
    border: 1px solid #000;
    border-radius: 5px;
}

.control-box > button:hover{
    padding: 10px 25px;
    transition: padding 0.3s;
    border: 1px solid rgb(255, 0, 0);
}

.hide{
    display: none;
}

